
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ViewENGINE</title>
</head>
<body>
    <div> 
      <%
      int x=123;
      if(x%2==0)
      {%><h1> x is Even Number</h1>
      <% }
      else
      {%><h1>x is Even Number</h1><%}
      %>
    </div>
</body>
</html>
