
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>viewBag</title>
</head>
<body>
  @{ ViewBag.Title = "Friend List";}

  <h2>Friends List</h2>
  <table border="1">
    <tr>
      <th>Sl No.</th>
      <th>
        Name
      </th>
    </tr>
    @{ int counter = 0;}
    @foreach (string frnd in ViewBag. friends)
    {
      counter++;
        <tr>
          <td>@counter</td>
          <td>@frnd</td>
        </tr>}
  </table>
</body>
</html>
